.DS_STORE
*.log
build
coverage
dist
node_modules
public
server
src/**/*
tests
.editorconfig
.eslintignore
.eslintrc
.travis.yml
CHANGELOG.md
CONTRIBUTING.md
LICENSE
project.config.js
.idea/
.yarn-cache
yarn.lock
!src/store/createStore.js
!src/store/sagas.js
!src/utils/api
!src/routes/Counter/modules/counter
